.nomrestaurant {
  padding-right: 200px;
}
.nomrestaurant-admi {
  padding-right: 100px;
}

.nav-link:hover {
  color: rgb(207, 193, 193) !important;
}

.commande {
  width: cover;
  height: auto;
  background-color: rgba(255, 166, 0, 0.5);
  border-radius: 30px;
  transition: all ease 1s;
}
.commande:hover {
  background-color: red;
  border: none;
  color: white !important;
}

a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.bg {
  width: cover;
  height: 500px;
  background-image: url("/photo/edward-franklin-Nb_Q-M3Cdzg-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
}
.vitre {
  width: cover;
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
  background-size: 100% 100%;
}
.photologo,
.stext {
  text-align: center;
  object-fit: cover !important;
}

.flex-grow {
  flex-grow: 1;
}

.uppercase {
  text-transform: uppercase;
}

.com {
  width: cover;
  height: auto;
  border: 1px solid lightgrey;
  text-decoration: none;
}
.com:hover {
  background-color: lightgrey;
}
.rev {
  width: cover;
  height: auto;
  border: 1px solid orange;
  text-decoration: none;
  background-color: orangered;
}
.list2 {
  margin-left: 40px;
}
.liste {
  display: flex;
  list-style: none;
  text-align: center;
}
select {
  width: 200px;
  height: 40px;
  color: white;
}
.bouton2 {
  text-align: center;
}
.bou,
.rese {
  width: 140px;
}
.form-command {
  background-color: #f5f5f5;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.485);
  border: 1px solid orangered;
  border-radius: 10px !important;
}
.form-command-low {
  background-color: #f5f5f5;
  box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.2);
  border: 1px solid orangered;
  border-radius: 10px !important;
}

.boutonc input {
  min-width: 20vw;
}

.labelcom {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  color: white;
  margin-top: 8px;
  font-weight: bold;
}

.footer {
  margin-top: 20vh;
}

.discovery-list {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .photocommande {
    width: 450px;
    display: none;
  }

  .menu_img {
    width: 250px;
  }
  .logos {
    display: none;
  }
  #stext1 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .stext {
    margin-bottom: 0px;
  }
  .rese {
    margin-left: 90px;
    margin-top: 20px;
  }
  .comm {
    margin-left: 50px;
  }
  .liste {
    display: block;
    list-style: none;
    text-align: center;
  }
  .list2 {
    margin-top: 30px;
  }
  .nomrestaurant {
    padding-right: 0px;
  }

  .commande {
    margin-left: 0px;
    width: cover;
    height: auto;
    background-color: rgba(255, 166, 0, 0.5);
  }
  .commande:hover {
    background-color: red;
  }
  .apropos {
    margin-left: 0px;
  }
  .imgs {
    width: 150px;
  }
}
